p{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    word-spacing: 5px;
    
}
h1{
    text-decoration:  underline wavy  red;
    letter-spacing: 3px;
}