* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {

    background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(192, 72, 60, 0.8)), url(./banner_image.jpg);
    /* height: 90vh; */
    width: 100%;
}

.herobtn {
    background-color: #6BD9D5;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 50px;
}

.paddinghero, .whosection {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* ############################## teaching staff styling  */
.icon{
   background-color: #6BD9D5 !important;
   padding: 10px;
}
.teching, .divs{
    background-color: #E2E3E7;
    
}
.teacherimg{
    border: 2px solid #E2E3E8;
    border-radius: 50%;
}
.t1{
    margin: 10px;
   
}


/* ################################# last sec  */
.lastsec{
    background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(192, 72, 60, 0.8)), url(./banner_image.jpg);
}
